<header>
	<div class="cont-nav">
		<div class="container">
			<div class="row">
				<div class="tx-al-center col-sx-12 col-sm-12 col-md-12 col-lg-12">
					<!-- <nav class="navbar navbar-default no-margin">
						<div class="navbar-header"> -->
							<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Cambiar Navegacion</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button> -->
						<!-- <div class="navbar-brand"> --><div>{{ widgets:area slug="logo" }}</div>
										
						</div> 

						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav">
								{{ navigation:links group="header" }}
							</ul>

							<<!-- ul class="nav navbar-nav navbar-right">
								{{ if user:not_logged_in }}
								<li>
									<a href="{{ url:site }}register">{{ helper:lang line="user_register_btn" }}</a>
								</li>{{ endif }}

								<li class="dropdown">

									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ if user:logged_in }}Mi Cuenta  {{ else }}Ingresar {{ endif }}<b class="caret"></b></a>

									<ul id="navLogin" class="dropdown-menu">

										{{ theme:partial name="header-userLogin" }}

									</ul>
								</li>
							</ul> -->
						</div>
		
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>